[2020-03-20 15:26] vict0rsch opened #1 "Add Arxiv Vanity"
Add a direct link to `https://www.arxiv-vanity.com/papers/<paperID>/`

[2020-03-20 17:10] PBarde opened #2 "clash with arXiv title fixer extension"
Hey,
Features 2 and 4 do not work when https://chrome.google.com/webstore/detail/arxiv-title-fixer/pandhendpghoedojdhookbedinmhjien?hl=en extension is enabled.

[2020-03-20 17:33] vict0rsch commented on #2
@PBarde ok I'll investigate, I did not know about this one

[2020-03-20 17:34] vict0rsch commented on #2
@PBarde would an option **not to** modify titles work for you?

[2020-03-20 17:35] vict0rsch opened #3 "Add license"

[2020-03-20 17:51] PBarde commented on #2
I am not sure I understand the "option not to modify title".

I think it would be nice to have both extensions work side by side so that the four features of ArxivTools work alongside arxiv-title-fixer that gives you nice tab titles.

If this is not possible, then maybe ArxivTools could incorporate arxiv-title-fixer's feature of displaying nice tabs titles so that people do not need to use arxiv-t

[2020-03-20 18:21] vict0rsch commented on #2
@PBarde Sorry I misunderstood ; I'll fix the compatibility **and** add this option within ArxivTools so that you don't need to have two extensions

[2020-03-20 19:11] vict0rsch commented on #2
This should be fixed in v0.0.2 :) re-open if not

[2020-03-20 19:11] #2 closed

[2020-03-20 19:11] vict0rsch commented on #1
Not sure if you want this. Upvote issue to state interest

[2020-03-21 03:36] vict0rsch opened #4 "Use tabler-icons"
https://github.com/tabler/tabler-icons

[2020-03-23 15:25] vict0rsch commented on #4
see release 0.1.0

[2020-03-23 15:25] #4 closed

[2020-03-23 16:40] #3 closed

[2020-03-23 21:01] vict0rsch commented on #1
could be useful for https://github.com/arxiv-vanity/arxiv-vanity/issues/353

[2020-03-24 14:03] vict0rsch commented on #1
added bibtex ; not direct link. Could change.

v0.1.1

[2020-03-24 14:03] #1 closed

[2020-03-24 15:09] vict0rsch opened #5 "Arxiv-Vanity citations"
"The particular citation that you are showing in the popup looks incomplete. (It's an arXiv paper itself, with a missing arXiv number that should probably be in the volume field or something?) But I assume that's an underlying error in the .bib file for this particular paper, not the fault of ArxivTools.

Do the bib entry popups also work in the bibliography (list of references), or only in citati

[2020-03-24 15:09] vict0rsch commented on #5
Issue from https://github.com/arxiv-vanity/arxiv-vanity/issues/353

[2020-03-24 15:10] vict0rsch commented on #5
There is indeed a bug in the arxiv ID I'll fix that

[2020-03-24 15:11] vict0rsch commented on #5
I could add the popups to the reference section ; though it would only work for arxiv-hosted papers

[2020-11-11 05:32] vict0rsch opened #6 "Add reading lists"
* Save Articles
* Mark as read
* Tags

[2021-02-18 18:23] armancohan opened #7 "Adding "copy markdown entry""
Thanks for the great extension!
Would it be possible to add a "copy markdown entry" in addition to a "copy bibtex entry" when clicking on arxivtools button?
Currently there is a extra click + redirect to be able to copy the markdown entry.

[2021-10-01 17:01] vict0rsch commented on #7
Hey @armancohan I just realeased a bran new version that actually stores papers and adds that functionality you asked for, check out https://github.com/vict0rsch/ArxivTools#guides

[2021-10-01 17:01] #7 closed

[2021-10-01 20:13] vict0rsch opened #8 "Memory Pagination"
Not sure the current solution will scale well when users have 100s of papers so pagination could help with time to interactive when clicking on the `OpenMemory` button

[2021-10-04 17:23] vict0rsch opened #9 "Add firefox compatibility"
See Mozilla's [Building a cross-browser extension](https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/Build_a_cross_browser_extension)

[2021-10-04 23:30] vict0rsch opened #10 "Integrate PapersWithCode: automatically storing github repos"
Everything is in place in `src/shared/utils.js:fetchCodes(...)` BUT I'm having CORS issues, this means I'll probably won't be able to do anything about it if PWC does not update their API (and i'm talking a little out of my depth here...)

[2021-10-04 23:34] vict0rsch commented on #10
[code]

[2021-10-04 23:37] vict0rsch commented on #10
PWC interactive API Docs https://paperswithcode.com/api/v1/docs/

[2021-10-05 15:05] vict0rsch commented on #10
[code]

[2021-10-08 23:28] vict0rsch opened #11 "Import json data"
You can download your ArxivMemory's data as a `.json` file.

We could add a feature to be able to import it.

[2021-10-13 23:40] vict0rsch opened #12 "Add reading lists"
There could be an option to mark a paper as "To Read" and filter them within the Memory

[2021-10-13 23:41] vict0rsch commented on #6
Save + Tags done
Reading list in #12

[2021-10-13 23:41] #6 closed

[2021-10-25 02:55] #12 closed, assigned to nobody

[2021-10-26 18:25] vict0rsch opened #13 "Add more venues"
Please comment if you'd like one of those to be included

* [x] Proceedings of Machine Learning Research (PMLR)
	* eg: https://proceedings.mlr.press/v139/kosaian21a.html
* [x] ICML
* [ ] JAIR
	* eg https://jair.org/index.php/jair/article/view/12850
* [x] JMLR
	* eg: https://jmlr.org/papers/v22/21-0853.html
* [x] BioRxiv
* [ ] Researchgate
	* eg https://www.researchgate.net/publication/268382567_Pa

[2021-11-02 14:34] vict0rsch commented on #11
Functional in Chrome, not Firefox ([internal FF bug](https://bugzilla.mozilla.org/show_bug.cgi?id=1292701))

[2021-11-02 14:37] vict0rsch commented on #9
Mostly functional except for:

* executing content scripts on PDF pages ([internal FF disfunction](https://bugzilla.mozilla.org/show_bug.cgi?id=1454760))
* uploading json file to overwrite memory (internal FF bug, #11 )

[2021-11-02 14:37] #9 closed

[2021-11-02 14:40] vict0rsch commented on #11
How to overwrite Memory in Firefox:

1. Open the extension's popup's console
2. Paste your json data as plain javascript obect in the console (for instance `const newMem = {"someId": {"id": "someId", "note": "", "pdfLink": "someUrl"}} ...`
3. Make **super sure** this is what you want
4. execute `browser.storage.local.set("papers", newMem)`

[2021-11-02 14:40] #11 closed

[2021-11-02 14:43] vict0rsch commented on #5
Dropping Arxiv-Vanity support (for now at least)

[2021-11-02 14:43] #5 closed

[2021-11-13 16:30] vict0rsch commented on #9
Workarounds planned:

* manual addition from the popup
* move data management things to another html (local) page to be able to upload things and clean up the popup's menu

[2021-11-16 17:57] dc914337 opened #15 "Goodnotes 5 integration"
Goodnotes is an app for iPad that allows writing on pdf documents (taking notes, highlighting, etc). Really nice for reading papers.
Goodnotes 5 allows to import papers [by sending them to a dedicated email address](https://support.goodnotes.com/hc/en-us/articles/360000477276-Using-Email-to-GoodNotes-for-importing-PDF-files).
Having a button to send a paper to a preset email would be a nice hack t

[2021-11-17 20:35] vict0rsch commented on #15
Hey @dc914337,

I don't use GoodNotes but why not. Here's the simplest thing I can think of:

1/ in the menu have a text field to store your email address
2/ on a paper's page, add a `mailto` link with your GoodNotes address

This would require you to select the pdf from the popped-up email dialog as a `mailto` link cannot include an attachment.

Note that Paper Memory does not have a backend so t

[2021-11-23 15:45] vict0rsch opened #17 "Add delete action to slider"
Make the slider notification last longer and include a button _not_ to register the current paper

[2021-11-29 03:51] UltronAI opened #27 "no reaction after clicking the PaperMemory button"
Hi, @vict0rsch ,

Thanks for your great work! I have tried your PaperMemory and find it pretty useful!

However, I don't know if it only happens to me that the panel will not appear or slowly after I click the PaperMemory button.

Is it a bug to be fixed or optimized?

Sincerely,
Feng Gao

[2021-11-29 04:25] vict0rsch commented on #27
Thanks for the issue, can you tell me a little more: os, browser, PM version?

[2021-11-29 06:54] UltronAI commented on #27
OS: macOS 12.0.1
Browser: Chrome 96.0.4664.55
PM: 0.3.3

Thanks for your quick reply!

[2021-11-29 07:12] UltronAI commented on #27
Hmm, I find it possibly related to my poor internet connection and now it's better.

I'll try more but it works currently! Thanks!

[2021-11-29 07:12] #27 closed

[2021-11-29 13:49] vict0rsch commented on #27
Ok, keep me posted!

![2021-11-29 08 47 38](https://user-images.githubusercontent.com/9283470/143879467-848b6c9e-9fc7-4dc2-9baa-938f01316d0f.gif)

If you think you have a bug again you can look in the console for errors

[2021-11-29 14:56] vict0rsch opened #28 "Delete paper icon present in notification when copying arxiv bibtex/md"

[2021-11-30 05:25] vict0rsch opened #29 "Add `paper.published` field"
[code]

[2021-11-30 15:19] vict0rsch opened #32 "Match DPLB abbreviation"
Apparently `J. Mach. Learn. Res.` is not a weird designation for JMLR, it's its abbreviation, here's a list: https://www.openacessjournal.com/journal-abbreviation-list

To add somewhere

[2021-11-30 19:02] vict0rsch opened #33 "Auto tagging from user regex"
idea: create an options page to have more room to deal with it (or use a modal?) and allow the user to provide pairs `(regex, tag)` for PaperMemory to auto tag papers based on titles

[2021-11-30 20:02] vict0rsch commented on #28
Fixed in #30

[2021-11-30 20:02] #28 closed

[2021-11-30 20:05] vict0rsch commented on #17
Done in #19

[2021-11-30 20:05] #17 closed

[2021-12-01 17:45] vict0rsch opened #34 "Refactor: `app.X`"
move methods to `app.` and `utils.` name spaces for clariry

[2021-12-03 06:26] QiuJueqin commented on #33
Hi, how can I customize PDF file renaming rule? Can I capture first author name and published date as keys, e.g. `InstaGAN Instance-aware Image-to-Image Translation_Mo_2019.pdf`?

[2021-12-03 08:20] vict0rsch opened #35 "Pdf title"
"""
Hi, how can I customize PDF file renaming rule? Can I capture first author name and published date as keys, e.g. InstaGAN Instance-aware Image-to-Image Translation_Mo_2019.pdf?
"""
@QiuJueqin

[2021-12-03 08:20] vict0rsch commented on #33
Different issue, I created https://github.com/vict0rsch/PaperMemory/issues/35

[2021-12-03 08:22] vict0rsch commented on #35
I can try and do that but evaluating user-provided functions is dirty (as the current beta feature) I'll move towards string interpolation when I create an options page

[2021-12-03 08:22] vict0rsch commented on #35
Any other idea?

[2021-12-05 12:38] vict0rsch opened #37 "Trigger arbitrary PDF parsing manually"
Use pdf.js to manually parse an arbitrary pdf currently open

[2021-12-07 14:41] vict0rsch commented on #35
Fixed in options (#38)

[2021-12-07 14:41] #35 closed

[2021-12-07 14:42] vict0rsch commented on #33
Implemented in #38

[2021-12-07 14:42] #33 closed

[2021-12-07 14:43] vict0rsch commented on #32
Done in config.js

[2021-12-07 14:43] #32 closed

[2021-12-09 15:42] amitness opened #39 "Make notifications for "Paper Added" optional"
When visiting a new paper that's not added to the memory, the extension currently shows a notification-like popup on the right side that the paper was added to memory. This feels distracting to me and I would just like the extension to work behind the scenes.

I was wondering if you could add a setting in the extension options where we can turn off the notifications.

[2021-12-10 10:31] vict0rsch commented on #39
Hey, thanks for your feedback.

Can you share an example paper url? The notification should only popup if the paper _is_ added, not if it's not so it sounds like there is an error in the code that prevents that paper to be actually added

[2021-12-10 13:22] amitness commented on #39
@vict0rsch Hey, sorry for the confusion. The notification popup works correctly and doesn't show up for already added papers. It is only shown if the paper is added the first time.

What I requested above was a toggle to enable/disable notifications on the right side for new papers completely.

[2021-12-10 13:25] amitness commented on #13
ACL: https://aclanthology.org/2021.emnlp-main.3/

[2021-12-10 14:39] vict0rsch commented on #39
Oh! It's already there, check out the popup's menu
<img width="429" alt="2021-12-10 at 15 38" src="https://user-images.githubusercontent.com/9283470/145591217-f25a6e32-988f-44f1-bacb-727133acde7f.png">

[2021-12-10 15:12] amitness commented on #39
My bad. I was looking at the extension options and didn't realize you had that setting in the popup menu.

Thank you so much for working on this extension. It's very useful.

![image](https://user-images.githubusercontent.com/8587189/145593038-f292933b-e139-4e76-8e1a-44ecc01acea8.png)

[2021-12-10 15:12] #39 closed

[2021-12-10 16:55] vict0rsch commented on #39
I'll rename the "Options" page to "Advanced Options" and refer to the popup's menu there too, if you missed it, it was not clear :)

[2021-12-10 17:00] vict0rsch commented on #13
@amitness FYI, WIP in #40 !

[2021-12-13 15:23] vict0rsch commented on #13
Done @amitness, your extension should auto-update in the coming hours :)

[2021-12-13 15:57] vict0rsch commented on #37
Or manual form?

https://scholar.harvard.edu/files/dtingley/files/topicmodelsopenendedexperiments.pdf

[2021-12-13 19:19] amitness commented on #13
@vict0rsch Thanks a lot for implementing this so quickly. It works perfectly.

[2021-12-13 19:27] amitness commented on #13
@vict0rsch Btw, the link to the extension on Chrome Webstore on the GitHub repo has an issue.
![image](https://user-images.githubusercontent.com/8587189/145875210-9936f776-8c80-4238-b019-cfc7b47c2f46.png)

It redirects to this auth error right now.
![image](https://user-images.githubusercontent.com/8587189/145875269-0f8985bf-7904-4a98-962a-da88925c15d6.png)

You will have to remove the `?authuser=

[2021-12-14 08:16] vict0rsch commented on #13
Thanks!

[2021-12-20 10:38] vict0rsch opened #44 "OpenReview trigger for ?attachment="
This should trigger an OpenReview parsing and addition to the Memory:

https://openreview.net/attachment?id=B1lDoJSYDH&name=original_pdf

[2021-12-20 10:58] vict0rsch opened #45 "Notion.so integration"
Create a Notion.so integration to push papers to a Notion Page/Database

https://developers.notion.com/docs/getting-started

TBD: data binding. What happens when a paper is modified/deleted on PaperMemory? On Notion?

[2021-12-20 10:59] vict0rsch commented on #29
not sure how relevant it is actually

[2021-12-20 10:59] #29 closed

[2021-12-26 15:18] k4rtik opened #46 "Add link to SciRate as well"
**Is your feature request related to a problem? Please describe.**
I often like to go to the paper's scirate.com page when I stumble upon an arXiv paper to see what others in the community think of it or to rate it myself.

**Describe the solution you'd like**
SciRate pages are linked as, e.g. for https://arxiv.org/pdf/2112.10677.pdf -> https://scirate.com/arxiv/2112.10677 I use this extension for

[2021-12-28 17:18] vict0rsch commented on #46
Hey @k4rtik !

Thanks for the suggestion, this sounds reasonable. Not sure how much SciRate is used but here's what I suggest to do:

1/ Add an option in the menu to enable scirate links
2/ When you are on an arxiv paper, if the above option is On then add a button to redirect you to scirate

Questions:

a/ Do you think you'd need that as an extra button in the Memory list too? Keep in mind that i

[2021-12-28 17:29] k4rtik commented on #46
Hi @vict0rsch

Thanks so much for considering this feature. SciRate is used quite a lot by the people interested in the pretty large quant-ph arXiv class.

1 and 2 sound good.

a. I don't care about the memory option, I installed the extension when it did not have any memory features (before it was renamed). I use scirate to bookmark the interesting arxiv papers instead.
b. Whatever is easier. I t

[2022-01-03 15:50] vict0rsch commented on #46
Done in #49 and with release 4.3 which has been uploaded to the online stores, your extension should auto-update in the coming hours!

[2022-01-03 15:50] #46 closed

[2022-01-03 15:51] vict0rsch commented on #13
Thanks to #46 now also

* [x] scirate.org/arxiv

[2022-02-27 22:52] vict0rsch opened #53 "BPP Mozilla submit error"
In https://github.com/vict0rsch/PaperMemory/runs/5352857182?check_suite_focus=true#step:3:12 there's an error with the extension id.

In the `secrets` I put `"extId": "paper-memory"` in the `"firefox"` field. Maybe the `extId` is actually what's called the `UUID` in the Mozilla addons dev tools?

That being said, the Chrome submission worked! Thanks so much for #51 @louisgv :)

[2022-02-27 23:02] louisgv commented on #53
Yes, the extId for Mozilla store is the UUID string. However, if you specified it in your manifest under gecko.id (see: https://extensionworkshop.com/documentation/develop/extensions-and-the-add-on-id/ ), you would need to omit the extId in the secrets :)

[2022-02-28 11:55] vict0rsch commented on #53
Ok! I'll check with the next release. Feel free to suggest improvements

[2022-03-01 15:54] vict0rsch commented on #10
@louisgv if there's something you want to help with, this here is of high potential value.

[2022-03-01 16:52] louisgv commented on #10
I wonder if the CORS issue can be circumvented with background script... Otherwise, would need a server to proxy the API call.

[2022-03-07 10:20] kwaisecer[bot] opened #55 "同学，您这个项目引入了301个开源组件，存在1个漏洞，辛苦升级一下"
检测到 vict0rsch/PaperMemory 一共引入了301个开源组件，存在1个漏洞
[code]
另外还有几个漏洞，详细报告：https://mofeisec.com/jr?p=i0bf5c

[2022-03-07 10:21] Kwaisece commented on #55
@vict0rsch，同学，您好，上面的漏洞报告是我IDE运行时，安全插件提示您这个项目存在的几个漏洞的报告，辛苦您修复一下哈，担心其他人也会用到你这个项目，从而引入这些漏洞。：）

[2022-03-07 11:24] #55 closed

[2022-03-08 10:09] vict0rsch commented on #10
done! #56

[2022-03-08 10:09] #10 closed

[2022-03-10 12:55] #53 closed

[2022-03-22 13:35] vict0rsch commented on #13
In #60 :

* [x] Nature

[2022-03-27 16:27] kaixin96 opened #61 "Add some features (filter, switch for venues ...)"
Thank you very much @vict0rsch! I feel very lucky to come across this project. I was relying on [my forked project](https://github.com/kaixin96/auto_arxiv_bookmarker) to store visited papers as bookmarks. But recently it doesn't work somehow (probably due to manifest v2 -> v3 migration). Your project is a LIFESAVER !!!

Based on my experience, I believe these features can be useful:

- A switch fo

[2022-03-28 03:18] kaixin96 opened #62 "Only one paper is saved when opening multiple papers at the same time"
**Describe the bug**

When I open multiple papers from a bookmark folder at the same time (i.e. using "open all tabs in a new window"), only the paper in the first tab is saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the bookmark manager
2. Right click on a folder and select "open all in a new window"
3. Other tabs except the first one are not saved

**Expected behavior**
All

[2022-03-28 09:14] kaixin96 commented on #61
The first feature "A switch for each venue in the setting page" is already shipped with Chrome (in the extension setting page).

[2022-03-28 09:23] vict0rsch commented on #61
Hey! It's great to read that. It's truly heartwarming :)

Thank you for your suggestion. There's an upcoming version in #60 I'll add those features:

1. I'll add that to the options page
2. Are you talking about the paper's publication/upload date? In that case I can add a `y:<year>` search filter just like there are `t:<tag>` and `c:<code>` filters already. I don't want to change the UI too much

[2022-03-28 09:28] vict0rsch commented on #62
I just tried and I get the same behaviour. This is super surprising considering the content scripts are indeed executed.

<img width="1680" alt="2022-03-28 at 11 27" src="https://user-images.githubusercontent.com/9283470/160368944-c678e4e7-1b59-431f-9d91-eb4e2ec7f36d.png">

I'll try to debug. How critical is this?

[2022-03-28 09:31] vict0rsch commented on #62
Actually the behaviour I observe is slightly different: it's not necessarily the first that is added, it can be 1 or 2 random ones 😩

[2022-03-28 09:44] vict0rsch commented on #62
Ok I think I have an idea: the storage update is an async operation so there's no guarantee in the order papers from a folder will be added.

PaperMemory loads all the papers in the content script's `global.state.papers` object and overwrites the storage's `"papers"` key with the new paper. Here's the likely toy scenario of what's hapenning:

* PM loads all `papers`
* PM discovers `paper1`
* PM fe

[2022-03-28 09:53] vict0rsch commented on #62
As of now there's no way around that theoretical issue. I will try to shrink the window for that issue to arise but I cannot make it disappear: it is due to the fact that the storage API does not allow for update operations, rather read -> in-memory update -> write which leaves some millisecs for issues...

[2022-03-28 10:02] vict0rsch commented on #62
The fix I implemented raised the number of retrieved papers from `2/17` to `12/17` so I think I'll leave it there for the next version.

Is there any other scenario in your opinion than the one-off addition of an entire bookmark folder to PM? Also, is refreshing manually those tabs prohibitively annoying or are you happy with an improvement-which-is-not-a-fix ?

[2022-03-28 11:26] kaixin96 commented on #61
Thank you for the reply.

1) I find it is possible to switch off the venues via setting site access in extension's detail page. So you don't have to implement that.
2) A `y:<year>` would suffice. I agree it is better to keep a simple UI.

I will definitely recommend this to my friends/colleagues. Speaking of suggestions, I find that this might be quite useful: opening the memory bank in a new tab

[2022-03-28 11:59] kaixin96 commented on #62
Thank you very much for the quick reply and fix!

Yes, it can be random. Later I found it is not necessarily the first tab.

I believe this is a rare use case. The only scenario I can think of is importing a large number of entries (in my case 1000+). Maybe it would be better to have an option to directly importing from a list of titles/urls without actually opening tabs. But that is not urgent.

[2022-03-28 11:59] #62 closed

[2022-03-28 21:50] vict0rsch commented on #61
1. It won't be possible to do that in the next release. I will add a new permission for `<all_urls>`. This is required otherwise every time I add a paper source, it's associated with a new permission request which automatically disables the extension on user browsers... So I added your suggestion in the advanced options page in the next release
2. I've implemented `y: year` and also `y: <year` for

[2022-03-29 07:59] kaixin96 commented on #61
Thank you for the reply. Can't wait to see the next release :)

[2022-03-30 15:46] kaixin96 commented on #61
Sure, no problem! I will update the issues I find in this thread. Thanks :)

[2022-03-31 12:15] vict0rsch commented on #61
Indeed there was a typo, it should be fixed if you pull

[2022-03-31 12:15] vict0rsch commented on #61
Indeed there was a typo, it should be fixed if you pull

[2022-04-02 15:24] vict0rsch commented on #61
Hey @kaixin96! Have you tested the new features? Do you think it's ready? I'm thinking of releasing next week

[2022-04-03 04:02] kaixin96 commented on #61
Yes, I have tested the new features and I think it's ready for release.

[2022-04-03 04:02] #61 closed

[2022-04-06 21:21] vict0rsch commented on #61
It's all released!

[2022-04-07 05:45] kaixin96 commented on #61
Nice!

[2022-04-21 19:01] MayankAgarwal opened #71 "Configuration option to disable auto-add to memory and manually adding paper to memory"
**Is your feature request related to a problem? Please describe.**
- Sometimes I open a paper page just to quickly browse and then decide to not read it.
- PaperMemory, however, automatically adds the paper to the store, which over time could accumulate unwanted papers in there.

**Describe the solution you'd like**
- A configuration option to disable automatically adding papers to the memory
- A

[2022-04-21 19:22] vict0rsch commented on #71
Thank you for your feedback. This is definitely technically possible. Now the may question is user experience and interface. I'll think of a way to make it smooth. I'll keep you posted.

In the mean time, notice there's a Trash icon in the notification which you can use to delete the paper that was just added

[2022-04-21 21:24] MayankAgarwal commented on #71
Thank you! I agree that maintaining the user experience needs some thought.
Also, having used it for a few hours just wanted to thank you for this wonderful plugin. It has already reduced the number of open tabs in my browser 😄

[2022-04-22 03:36] iiscleap commented on #13
IEEE

[2022-04-22 08:42] vict0rsch commented on #13
Hey @iiscleap, sure I'll try. It's probably going to be challenging given the very large diversity of venues (journals, conferences etc.) IEEE covers and therefore the potential numerous parsing strategies I'll have to employ. But we'll see.

Can you share 2-3 example papers you'd like to add to your memory so I can test the parsing procedure? Ideally from different venues.

Thanks!

[2022-04-22 14:13] vict0rsch commented on #71
Also @MayankAgarwal you can use the option to disable parsing from non-pdf pages
<img width="426" alt="2022-04-22 at 16 12" src="https://user-images.githubusercontent.com/9283470/164731947-c16a1003-6a0f-492a-b891-c3d922404d82.png">

[2022-04-25 08:41] vict0rsch commented on #71
@MayankAgarwal can you [install from source (branch `master`)](https://github.com/vict0rsch/PaperMemory#install-from-source-brave--chrome) and check that it does what you expect?

[2022-04-26 20:41] AbhayGoyal commented on #13
Can you add springer too? Thanks

[2022-04-28 11:50] vict0rsch commented on #13
@AbhayGoyal just did in #76

Working urls:

* https://link.springer.com/referenceworkentry/10.1007/978-981-16-1247-3_210-1
* https://link.springer.com/chapter/10.1007/978-981-16-1220-6_12
* https://link.springer.com/book/10.1007/978-3-030-86419-4
* https://link.springer.com/article/10.1007/s11051-022-05468-6

You can either [install from source](https://github.com/vict0rsch/PaperMemory#install-fro

[2022-04-29 16:16] fergusbarratt commented on #13
Could you add the APS physical review journals?:

PRL: https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.128.171101
PRB: https://journals.aps.org/prb/abstract/10.1103/PhysRevB.105.134524
(and more https://journals.aps.org/)

Love the extension btw.

[2022-04-30 17:57] MayankAgarwal commented on #71
Hi @vict0rsch : I just checked the feature and it looks great! Thanks :)

[2022-04-30 17:57] #71 closed

[2022-04-30 22:59] vict0rsch commented on #71
Cool! Did you get the message about the shortcut when you did?

[2022-05-01 11:05] iiscleap opened #77 "Citation in MLA or APA style format"
It will be great if we can copy citation in MLA or APA style format as well.

- Short author info, published venue and year can be added to the In markdown format.

[2022-05-01 11:19] iiscleap commented on #13
Hi @vict0rsch , #72 (Add IEEE venue)

Thank you for the reply.
Example papers:
1. https://ieeexplore.ieee.org/document/8578259 (CVPR)
2. https://ieeexplore.ieee.org/document/7949028 (IEEE transactions on Image processing)
3. https://ieeexplore.ieee.org/stamp/stamp.jsp?arnumber=9054254 (ICASSP)

PS: I noticed most of them are in arxiv and hence it gets automatically added to Memory :D

[2022-05-01 13:51] vict0rsch commented on #77
Hey! Thanks for your feedback and ideas.

I'll think about the markdown feature and try it out to see if it should be standard or customizable.

Regarding citations, it would be difficult I think to keep it both simple, flexible and user friendly. I'll give it more thoughts but for now I'd recommend using other conversion options such as online tools or processing the bib export you can get in the

[2022-05-01 15:31] iiscleap commented on #77
Yes, that markdown format customization feature will be enough :)
Thank you.

[2022-05-03 19:40] LinxiFan opened #81 "THANK YOU SO MUCH"
I don't have an issue to report. I just want to say, THANK YOU SO MUCH for this mind-blowingly amazing tool. I dreamed of such a plugin before, and can't believe it has become reality. The beautiful UI, clean export, and automatic conference venue linking ... that's all I ever wanted. I have no clue why Mendeley/Zotero/ReadCube cannot deliver such high-quality features with their bloated teams of

[2022-05-03 21:31] vict0rsch commented on #81
Thank you so much for your message. It really warms my heart and pushes me to continue. I'll keep this issue open just because I like reading it 😁

The best things you can do to support my effort is to rate PaperMemory on the webstore and share it around you! In your lab or on Twitter, basically advocate for PaperMemory. And if you know anyone with Javascript experience I'll welcome help!

And ple

[2022-05-03 21:36] #15 closed

[2022-05-03 21:36] vict0rsch commented on #15
Closing for now, I'll reopen if there's interest

[2022-05-03 21:37] #34 closed

[2022-05-03 21:38] vict0rsch commented on #34
Not sure this is such a good idea anymore. Closing for now

[2022-05-03 21:41] vict0rsch opened #82 "Paper stats"
Would be cool to see paper stats, as a full page just like the options or full-memory pages.

I won't do it in the foreseeable future but it's super easy to contribute since it's a standalone basic html+js webpage

[2022-05-04 00:21] LinxiFan commented on #81
Done, I left the 5-star review on Chrome store, followed you on twitter and retweeted your post! Btw I did project with Yoshua in 2016 as a research assistant 😄  Glad to be an alumnus with you!

[2022-05-04 13:28] vict0rsch commented on #77
How about #83 ? WOuld that work for you?

[2022-05-04 13:31] vict0rsch commented on #13
@iiscleap I checked all those work now! (not released yet, but available from source)

[2022-05-04 15:55] vict0rsch commented on #13
@fergusbarratt I just did, will be in the next release 🥇 (see #84)

[2022-05-04 16:23] JorenB opened #86 "Google UI partially breaks when using extension"
Icons in both the GMail and Google Calendar web interfaces get squeezed or misaligned when PaperMemory is activated.

**Desktop (please complete the following information):**
 - OS: MacOS Monterey
 - Browser chrome
 - Version 100
- PaperMemory version 0.5.2
<img width="747" alt="Screenshot 2022-05-04 at 18 25 27" src="https://user-images.githubusercontent.com/642573/166726800-401fd9f6-77c6-43ff-b4

[2022-05-04 16:28] vict0rsch commented on #86
Interesting I noticed the same thing on my computer but had not realized it was PM's fault. Thank you for reporting I'll investigate

[2022-05-04 16:40] vict0rsch commented on #86
Ok found it I changed the content scripts' css it'll show in the next release. Or you can install from source in the mean time

[2022-05-04 16:40] #86 closed

[2022-05-05 03:42] jeasinema opened #89 "Allow importing entries in the same format as those exported"
**Is your feature request related to a problem? Please describe.**
Since we can export the papers and our notes in `.json`. I find it a good idea to allow us to import them as well. That can help bring us some users from other bib management software, ex. Mendeley, Paperpile, etc.

**Describe the solution you'd like**
It should be straightforward -- just a simple sanity check on the format of the

[2022-05-05 06:38] vict0rsch commented on #89
## Version `0.5.2`

Have you seen this part of the options page?

<img width="778" alt="2022-05-05 at 08 24" src="https://user-images.githubusercontent.com/9283470/166873045-e86d0714-56a7-44ff-ad50-af32226fd240.png">

It should allow you to both export then import your Memory as `.json` files with sanity checks.

You can access it from the extension's popup menu:

<img width="448" alt="2022-05-05

[2022-05-05 06:39] vict0rsch commented on #89
I'll close as I believe it answers your issue but feel free to re-open

[2022-05-05 06:39] #89 closed

[2022-05-05 06:41] jeasinema commented on #89
Thank you!

[2022-05-05 09:18] vict0rsch commented on #89
As of `0.5.3`:

<img width="968" alt="2022-05-05 at 11 17" src="https://user-images.githubusercontent.com/9283470/166895130-d78f9ed9-d423-4ad1-a567-db14f3a75ecf.png">

[2022-05-05 09:39] zc-alexfan opened #91 "Automatic download PDFs without clicking "Download""
**Is your feature request related to a problem? Please describe.**
I love the features of caching papers that you read by downloading as PDFs in a folder. However, I often need to click "download" in order to save the PDF in the cache. It is a lot faster to load from cache than downloading the arxiv paper every time when I just need to refer to something in a paper.

**Describe the solution you'd

[2022-05-05 10:02] vict0rsch commented on #91
Hey, thanks for your feedback!
Auto-download seems bug-prone (network, data sources etc.).

Would you be happy with a keyboard shortcut?

I can make the auto-download feature but you're the first to ask for it and I'm wondering if you would not get tired of it at some point, for instance when quickly browsing an abstract etc. So I'm thinking maybe the shortcut make your life easier enough :)

[2022-05-05 10:03] #77 closed

[2022-05-05 10:44] zc-alexfan commented on #91
The shortcut sounds good, because not all papers need to be cached.

[2022-05-05 12:06] vict0rsch commented on #91
@zc-alexfan can you [install from source](https://github.com/vict0rsch/PaperMemory#install-from-source-brave--chrome) and check that it works as you would expect?

[2022-05-05 12:37] zc-alexfan commented on #91
Thanks for the quick response! I installed from source. What's the shortcut?

[2022-05-05 12:45] vict0rsch commented on #91
It's in https://github.com/vict0rsch/PaperMemory/pull/92 and https://github.com/vict0rsch/PaperMemory#keyboard-shortcuts

Basically, it should be `ctrl/cmd + shift + s` if this is not already attributed

[2022-05-05 16:35] vict0rsch commented on #91
Ok, can you check the background page Javascript Console logs?
<img width="430" alt="2022-05-05 at 18 30" src="https://user-images.githubusercontent.com/9283470/166970009-0f8f762b-d6ea-4751-993a-fabbe03cc08d.png">
<img width="1026" alt="2022-05-05 at 18 31" src="https://user-images.githubusercontent.com/9283470/166970131-015ddd64-f207-43c0-9b4d-719efe4992fc.png">

[2022-05-05 16:37] vict0rsch commented on #91
Also make sure this is well defined

<img width="1053" alt="2022-05-05 at 18 37" src="https://user-images.githubusercontent.com/9283470/166971009-49c7152a-59be-4f23-bdbb-96e5967f7a7f.png">

[2022-05-05 16:39] vict0rsch commented on #91
<img width="1008" alt="2022-05-05 at 18 39" src="https://user-images.githubusercontent.com/9283470/166971347-9c728a69-0502-47f2-ba27-c3a4eb14d291.png">

It could be because of the paper's name because it works on some other papers

[2022-05-05 17:17] vict0rsch commented on #91
I just pushed a fix for punctuation on `master` ; can you pull and try again?

[2022-05-05 17:39] zc-alexfan commented on #91
It can download now. but I think it downloads to `~/Downloads/` instead of `~/Downloads/PaperMemoryStore`

[2022-05-05 17:41] vict0rsch commented on #91
Yeah I fixed that in https://github.com/vict0rsch/PaperMemory/blob/4f14260b2bb7f94d18945dc81c69028ccd1f24fe/src/shared/js/utils/state.js#L338

[2022-05-05 19:10] vict0rsch commented on #91
Did you select the appropriate option in the menu? The fresh install from source does not inherit your pre-existing release settings

[2022-05-06 14:37] vict0rsch opened #93 "Submit workflow hangs"
@louisgv any idea why this hangs forever? https://github.com/vict0rsch/PaperMemory/actions/runs/2282307207

[2022-05-06 14:47] vict0rsch commented on #93
Looks like signing is not finishing

[code]

[2022-05-06 15:20] vict0rsch commented on #93
It seems the Chrome Webstore submission went through

[2022-05-06 15:25] vict0rsch commented on #93
There was an issue in the manifest, Firefox _requires_ `"suggested_key"` to be an `object` while Chrome accepts a `string`. I'm going to assume it was it.

[2022-05-06 15:25] #93 closed

[2022-05-06 15:26] vict0rsch commented on #91
After tests, it works on my end I'm going to assume it does for you too and I just pushed a release so keep me posted if you have any issue!

[2022-05-06 15:26] #91 closed

[2022-05-07 00:05] Zhehui-Huang opened #94 "Change the text alignment on Google Calendar"
When I enable the PaperMemory extension on Google Chrome, my Google Calendar will be Changed. Specifically, the text of the name of the calendar will not be well-aligned.

[2022-05-07 09:44] vict0rsch commented on #94
Hey!

I thought I had fixed this in #86 which is part of the `0.5.3` release.

Can you tell me the PaperMemory version you're using and if it's not the latest can you update and check the problem persists?

[2022-05-07 10:09] louisgv commented on #93
@vict0rsch  is Firefox submission works now or is the manifest conflict still preventing it from finishing?

[2022-05-07 13:57] zc-alexfan commented on #91
It works! Thank you so much.

On Fri, May 6, 2022 at 5:27 PM Victor Schmidt ***@***.***>
wrote:

--
Regards,
Alex

[2022-05-09 11:22] vict0rsch commented on #94
I'm going to assume this is not an issue anymore and there was a lag in the auto-update of the extension. Feel free to re-open if the problem persists

[2022-05-09 11:22] #94 closed

[2022-05-09 12:53] vict0rsch commented on #8
#95

[2022-05-09 12:53] #8 closed

[2022-05-10 13:16] vict0rsch commented on #93
Looks like that was the issue, it's working for the latest release https://github.com/vict0rsch/PaperMemory/actions/runs/2300869446

[2022-05-10 13:19] vict0rsch commented on #13
Done in the latest release, your PaperMemory should auto-update in the next hours

[2022-05-11 16:35] Zhehui-Huang commented on #13
@vict0rsch Could you please add ACM Digital Library?
Example:
https://dl.acm.org/doi/abs/10.1145/3446776

[2022-05-11 21:58] vict0rsch opened #99 "ACM Venues issue"
[dl.acm.org/doi/abs/10.1145/3446776](https://dl.acm.org/doi/abs/10.1145/3446776) should be parsed but there seems to be an error

[2022-05-18 10:00] zc-alexfan opened #101 "Store the top k most frequently opened papers in the last Y days into the cache"
**Is your feature request related to a problem? Please describe.**
It is a bit repetitive to download paper PDFs into the cache folder for a set of papers that we often need to open during a given period.

**Describe the solution you'd like**
Can we have an option to store the top k most frequently opened papers in the last Y days into the cache? (Maybe also optionally allow another set of papers

[2022-05-21 08:56] vict0rsch commented on #101
Hey! Thank you for your thoughts!

I'm not sure I understand, could you elaborate? Do you mean to *automatically* download papers?

Right now the cache is used for any paper you download using PM, including using the download keyboard shortcut (#92). I'm not sure I understand what you mean by

Do you mean something like (pseudo-code)

[code]

[2022-05-21 09:08] zc-alexfan commented on #101
Yes, exactly. Because in a given period of time, we often have a list of papers we need to refer to. Caching those papers automatically, would allow us to open them up without waiting for the arxiv downloads.

[2022-05-21 09:12] vict0rsch commented on #101
But currently you only have to wait for the Arxiv download once, if you `ctrl/cmd + shift + s` on the paper's page the paper will be downloaded to the cache (`~/Downloads/PaperMemoryStore`) and next times you can use that cached version.

In that context, that algorithm is very marginally more efficient than you choosing to download a paper from its page, is it not?

[2022-05-21 11:26] zc-alexfan commented on #101
I see. That makes sense. Thanks.

[2022-05-21 11:26] #101 closed

[2022-06-20 14:35] vict0rsch opened #109 "Custom Title Function deprecation"
## Custom Title function is about to be deprecated

PaperMemory displayed a warning notification because it has detected that you are using a custom
title function.

If it is *not* the case, you can safely ignore this warning.

If you ***do*** however use a custom title function, be aware that this
functionnality will be removed in version `6.0`.

## Why?
Mostly because of safety, code quality and

[2022-07-22 20:30] Murplugg commented on #81
Came to say thanks. Thanks for this.

[2022-07-30 08:43] dinhanhx opened #112 "Option to generate bibtex from other sources DBPL"
An option to generate bibtex from Google Scholar, Semantic Scholar.

For example, one click https://arxiv.org/abs/1602.07261

Instead of showing this
![image](https://user-images.githubusercontent.com/38489776/181902768-52e4119e-4888-4441-8317-23dbd06e3352.png)
It can show this
[code]

[2022-07-30 18:11] vict0rsch commented on #112
That's not really how it works. First of all, you should almost certainly not use an Arxiv preprint citation when a proper publication citation is available.

But more importantly, not all sources have the same data and I cannot guarantee a choice in citation sources. The way it currently works is it sequentially queries the sources (PapersWithCide, then Semantic Scholar, then DBLP, then GS) and t

[2022-07-31 20:38] pviscone opened #113 "Add inspireHEP to sources"
Inspire HEP (  https://inspirehep.net/  ) is one of the most important platforms to search for papers in High Energy Physics.

Every paper has a DOI link or an e-print link that is simply a link to arxiv.

[2022-07-31 20:54] pviscone opened #114 "Show a list of saved tags"
It could be useful to have a drop-down menu (or something similar) to show all the tags used and to select one or more tags to filter the search.

[2022-08-01 08:07] vict0rsch commented on #113
Ok! Will do in the next release (probably September)

[2022-08-01 08:10] vict0rsch commented on #114
You mean you don't want to remember tags and use the `t: your-tag` search syntax?

If that's the case I can think about it but it's going to be difficult to include seemlessly in the UI. I don't want to make the search header thicker than the current single-line

[2022-08-01 16:15] pviscone opened #115 "Sync trough Github Gists"
It could be useful to add the possibility of synchronizing data between different devices.

This can be implemented using GitHub gists (the same method implemented by the old "Settings Sync" extension of VSCode https://marketplace.visualstudio.com/items?itemName=Shan.code-settings-sync )

The things to do are:
1. Add the possibility to log into Github and to add a token to create ad edit gists
2.

[2022-08-01 16:55] pviscone commented on #115
I was trying to force the browser to sync the extension data with all other settings but I can't locate the data saved by the extension.

This would be a simpler solution, what is the path of the saved data of the extension?

[2022-08-02 14:18] vict0rsch commented on #115
Yeah I've thought about this. Other options are: `browser.storage.sync` instead of `browser.storage.local` but it's limited to 100kb, or using jsonbase.com. I'll look into those options in Sept.

Thanks for your feedback!

[2022-08-23 15:47] vict0rsch commented on #115
Hey @pviscone @yongchanghao @julien-blanchon I've been working on this over the past few days. I have an alpha-stage in #117.

Could you try it out (branch `gist-storage`) and give me some feedback?

I'm waiting for some opinions before I move any further on the UX/features.

There may be bugs though, make sure you backup your data first (the code should do that for you anyway but better safe than

[2022-08-23 16:03] julien-blanchon commented on #115
By the way it seems that "Manifest version 2 is deprecated" : https://developer.chrome.com/blog/mv2-transition/

<img width="1511" alt="Screenshot 2022-08-23 at 18 02 44" src="https://user-images.githubusercontent.com/11278197/186206645-fcddfaf0-2894-424c-a1cf-3220c76ad2a3.png">

[2022-08-23 16:13] vict0rsch commented on #115
Yeah I'm aware it's gonna be a tough move and I'm postponing... 😅

[2022-08-23 16:16] julien-blanchon commented on #115
As a first try, it work pretty well for me.
- The documentation is fine, maybe hard to find in the option panel.
- Collision message and auto backup json if hard merge could prevent many misunderstanding.
- Sync seems fast (≤2sec)

Try on Brave 1.42 on MacOS (Apple Silicon) and Ubuntu.

I'm just wondering if the synchronization procedure with the Github token will be automatic (via the browser syn

[2022-08-23 16:38] vict0rsch commented on #115
Yeah that's kind of expected, it's not meant to be a main feature just yet but there will be a mention on the Readme and in the pop-up menu which will make it more accessible

[2022-08-23 16:39] vict0rsch commented on #115
Collision messages are already implemented are they not? Did you not get an alert asking for a choice?

Also the json backup should have been triggered and it should show up in your downloads. Can you confirm?

[2022-08-23 16:41] vict0rsch commented on #115
3.

Cool, my main concern is that it slows down the time-to-display in the pop-up. Keep that in mind and tell me if you end up finding it annoying

[2022-08-23 16:42] vict0rsch commented on #115
4.

I'm not sure what you mean. What I mean to implement is that once you have entered a valid PAT and clicked on "Start [...]" then you don't ever need to do anything else.

Push and pull are described in the docs but maybe it's not enough?

Of course you need to do the above ^ on all devices you wish to sync

[2022-08-23 16:43] julien-blanchon commented on #115
Yes I did get a the message + prompt to solve the merge (something like erase local, keep local or drop).
After a erase local, the previous local json get download.

[2022-08-23 16:44] vict0rsch commented on #115
And so that's good right? What would you suggest I change?

(I will implement a merge too, instead of a hard binary choice local/remote)

[2022-08-23 16:45] vict0rsch commented on #115
(and thanks for your help!!)

[2022-08-23 16:51] julien-blanchon commented on #115
I mean "chromium" sync the "gist" sync. I have a sync of all my extension + data from extension using Chrome API (for me it's a Brave settings that will encrypt and share the to sync chain, but for most people this sync is done using Google Account). So if I just get to install the extension for the first time on computer 1 and setting up the gist sync, I will also get the extension on computer 2

[2022-08-23 16:53] julien-blanchon commented on #115
Yes sound perfect. Nothing to change. Merge features will be welcome but not urgent

[2022-08-23 16:58] julien-blanchon commented on #115
Yes, the time-to-display is highly slows downs because of the sync :(. Without internet/sync on it's instant, with it's like between 1/2 sec and 1 sec. It can be annoying now that I've noticed it 😆. Maybe await data and load as usual (and when data get load update the list). Or even just make the fetch not always automatic and add a sync button

[2022-08-23 17:10] vict0rsch commented on #115
Oh I see. You're referring to what I mentioned originally, i.e. using `storage.sync` instead of `storage.local` when storing data. I can't use that because it's meant for lightweight parameterization, not data sharing and is therefore capped at 100kb. That's too small for us. So yeah you *have* to setup the token on all devices. But I don't think it's too bad, it's just a one time operation

[2022-08-23 17:13] vict0rsch commented on #115
Regarding time to display, I'm indeed thinking of pulling asynchronously and updating the list. The issue with this is that it'll probably be difficult not to disturb your workflow, especially if you're consulting a paper that has been deleted in the pulled data for some reason. It's unlikely but I still have to deal with it. I'll keep it in mind. But I do agree the 0.5-1.5 extra loading time is a

[2022-08-24 15:16] vict0rsch commented on #115
I've pushed changes:

* better Options page table of contents to discover features (floating, left)
* syncing state UI next to the Memory icon (Popup, bottom left)
* asynchronous pull from remote to come back to the fast time-to-display

@julien-blanchon can you pull the updated code from `gist-storage` and tell me how it works for you?

In particular the difficult scenario is

* Memory changes on

[2022-08-24 17:57] julien-blanchon commented on #115
Great I'll try syncing when I get home.

New version is install on Device 1 (macbook) currently. Main tab open instantly and I sync in background at each open (Syncing ... and then Sync ✅). Memory Tab also open instantly even if opened before the end of Sync.

The new Option page is pretty neat, nice animation (I didn't know that X engineer were ALSO so good in UX 😵). The #header padding does not

[2022-08-24 18:18] vict0rsch commented on #115
Great! I'll adjust the UI. Thanks!

[2022-08-24 18:36] julien-blanchon commented on #115
I thought that everything would work as it should at first glance but it seems that some bug.
When I remove article then get remove from the local app but aren't really update in the gist.

<img width="1511" alt="Screenshot 2022-08-24 at 20 33 51" src="https://user-images.githubusercontent.com/11278197/186496349-804b8ede-6b1d-4421-b6ee-51efb08dba97.png">

I don't know if it's new (I hadn't tried r

[2022-08-24 22:02] vict0rsch commented on #115
I have noticed issues with deletions too. Not sure where it comes from but I'll investigate

[2022-08-30 09:34] vict0rsch commented on #115
@julien-blanchon I've pushed changes to the branch, can you pull and check things work as expected?

[2022-08-30 11:28] vict0rsch commented on #112
I've reordered preprint matching sources so that DBLP is last and therefore if you _do_ see a DBLP citation there it means others have failed

(in #117 so next release)

[2022-08-30 11:28] #112 closed

[2022-08-30 16:04] #113 closed

[2022-08-31 17:25] julien-blanchon commented on #115
I did some test on https://github.com/vict0rsch/PaperMemory/commit/b8cbe34384f39623be69b2a9e905d25af1d8e1ab and figure out some strange things :
- Each time I open the extension, it sync and write a **revised** in my gist (without change but still it could inflate traking)
<img width="1009" alt="Screenshot 2022-08-31 at 19 13 50" src="https://user-images.githubusercontent.com/11278197/187739403-da

[2022-09-01 09:28] vict0rsch commented on #114
@pviscone I've implemented a middle ground, what do you think of #121?

[2022-09-01 17:26] vict0rsch commented on #115
Yes, I've updated the 1st time user experience with a warning that says that the current implementation is intended for workflows that allow at least a 5-10s gap between devices. I don't think I can make it faster using gists. Especially when I'll move to the manifest V3 which removes permanent background pages and therefore will slow things down by a second or two

[2022-09-27 17:56] vict0rsch commented on #115
I'm releasing in alpha mode with an important constraint I don't have the time to address right now: because of Github's cache, data won't be updated for **30-60 seconds**.

Help is wanted to move this feature to beta then stable release.

[2022-09-27 20:42] #44 closed

[2022-09-27 20:44] #114 closed

[2022-09-27 20:57] julien-blanchon commented on #115
I suppose it's now in `git-storage-api` ?
Is the **30-60 seconds** delay something new (Github Gist API preventing too many api call ?) ?

I will try to give this a look soon

[2022-11-23 17:14] vict0rsch opened #131 "Tag edits from popup (not memory view) are not recorded"

[2022-11-23 17:14] vict0rsch opened #132 "Continue looking for metadata if authors are anonymous (Open Review)"

[2022-11-23 17:15] vict0rsch opened #133 "Delete button in red slider does not work"

[2022-11-23 17:20] vict0rsch opened #134 "Paper not detected in popup"
1. https://arxiv.org/abs/2211.12020
2. https://openreview.net/forum?id=hHercGKiXvP

PM popup does not show paper but the content script console shows it has matched it

[2022-11-29 19:09] gabrielhuang opened #135 "Make references clickable in PDF"
**Is your feature request related to a problem? Please describe.**
 I'm always frustrated when I need to manually scroll down the paper to the list of references, then to copy paste paper name into google, and finally I can understand what reference is cited.

**Describe the solution you'd like**
1. A popup when hovering over refererences like [1] which give a preview of the paper.
2. Link to that